.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(48, 48, 48);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255); 
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 40px;
    padding: 10px;
}
@media (max-width: 575px) { 
    .example-form{
        width: 300px;
        height: 450px;
    }
}
.letrasForm{
    color: white;
}
.contenedorBoton{
    display: flex;
  justify-content: center;
}
.botonForm{
    color: white; 
    border-color:white;
    margin: 0 auto;
    width: 200px;
}
.example-full-width {
    width: 100%;    
    margin: 6px;
}
