<form class=" example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ex. Pizza" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="escribe tu mail" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Deja tu comentario</mat-label>
    <textarea matInput placeholder="puto el que lee"></textarea>
  </mat-form-field>
</form>