<form class=" example-form">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ej. Juan" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ej. juan123@gmail.com" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Deja tu comentario</mat-label>
    <textarea matInput placeholder="Escribe tu comentario"></textarea>
  </mat-form-field>

</form>