<div class="container">
    <div class="row">
            <h1 class="tituloBusos">Buzos</h1>
            <div class="col">


                <div class="containerImg">
                    <img class="imagenBuzo" src="../../../../assets/Imagenes/fotosBusoAzul.jpg" alt="ImagenDeBuso">
                </div>

                <div class="thumbnail_container">
                    <img class="thumbnail" src="../../../../assets/Imagenes/fotosBusoAzul.jpg" alt="">
                    <img class="thumbnail" src="../../../../assets/Imagenes/fotoBusoBlanco.jpg" alt="">
                    <img class="thumbnail" src="../../../../assets/Imagenes/fotoBusoDragon.jpg" alt="">
                </div>
            </div>
    </div>
</div>
