.containerImg{
    display: flex;
    justify-content: center;
}
.containerBuso{
    margin: 20px;
}
.tituloBusos{
    color: white;
    text-align: start;
    margin-top: 30px;
    font-size:30px;
    font-family: 'Orbitron', sans-serif;
    border-bottom-style:solid;
}
.botonBusos{
    position: absolute;
    margin-top: 30px;
    border-color: white;
    color: white;
    font-size: larger;
}
.imagenBuso{
    margin: 20px;
    width: 300px;
    height: 375px;

}
