<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<div class="jumbotron jumbotron-fluid">
    <div class="contenidoJumbo">
      <h1 class="tituloJumbotron" style="text-align:center;" >ocn</h1>
      <h2 style="text-align: center;" class="lead">¿Buscas calidad y precio? <br>
          ¡No dudes en visitarnos! <br>
          ¡Y por las redes te brindamos el mejor asesoramiento!</h2>
          <a mat-stroked-button href="https://www.facebook.com/ocn.cipolletti/photos/?ref=page_internal" class="botonJumbotron" target="_blank">Comprar <span class="material-symbols-outlined">
            shopping_cart
            </span></a>
    </div>
  </div>