.jumbotron{
    margin-top: 22px;
    background-color: #4545469c;
    color: white;
    display: flex;
    justify-content: center;
   
}
.contenidoJumbo{
    padding: 30px;
    
}
.tituloJumbotron{
    font-size:50px;
    font-family: 'Orbitron', sans-serif;
}

.botonJumbotron{
   
    bottom: 1em;
    margin-left: 38%;
    margin-top: 30px;
    border-color: rgb(134, 0, 0);
    font-size: larger;
    justify-content: center;
}
.botonJumbotron:hover{
    color: white;
    background-color: rgb(134, 0, 0);
}
