
<div class="jumbotron jumbotron-fluid">
    <div class="contenidoJumbo">
      <h1 class="tituloJumbotron" style="text-align:center;" >ocn</h1>
      <h2 style="text-align: center;" class="lead">¿Buscas calidad y precio? <br>
          ¡no dudes en visitarnos! <br>
          ¡y por las redes te brindamos el mejor asesoramiento!</h2>
          <a mat-stroked-button href="https://www.facebook.com/ocn.cipolletti/photos/?ref=page_internal" class="botonJumbotron" target="_blank">Comprar</a>
    </div>
  </div>