.jumbotron{
    position: relative;
    margin-top: 22px;
    background-color: #4545469c;
    color: white;
}
.contenidoJumbo{
    padding: 30px;
}
.tituloJumbotron{
    font-size:50px;
    font-family: 'Orbitron', sans-serif;
}

.botonJumbotron{
    bottom: 1em;
    left:46%;
    margin-top: 30px;
    border-color: white;
    font-size: larger;
}
.botonJumbotron:hover{
    color: white;
    background-color: rgb(71, 71, 71);
}
