.banner-container{
    display:inline-block;
    position: relative;
    left: 110px;
}

.zoomBaner{
    margin-top: 50px;
    transition: transform .2s; 
}
.zoomBaner:hover{
    transform: scale(1.1);
}
