.banner-container{
    display:inline-block;
}

.imagenBanner{
    width: 930px;
    height: 349px;
}

@media (max-width:760px){
    .imagenBanner{
        width: 930px;
        height: 349px;
    }
}

.zoomBaner{
    margin-top: 50px;
    transition: transform .2s; 
}
.zoomBaner:hover{
    transform: scale(1.1);
}

