<mat-nav-list>
    <h2 style="text-align: center;">Compartir</h2>
    <a  href="https://wa.me/542996328897?text=Hola,%20Soy%20Cliente" target="_blank" mat-list-item>
        <span mat-line>Whatsapp</span>
        <img src="../../../assets/Imagenes/whatsapp.png" alt="imagenWhatsapp" style="height: 40px; width:40px">
    </a>
  
    <a href="http://www.facebook.com/sharer.php?u=www.OcnCipolletti.com" target="_blank" mat-list-item>
      <span mat-line>Facebook</span>
      <img src="../../../assets/Imagenes/facebook.png" alt="imagenFacebook" style="height: 40px; width:40px">
    </a>
</mat-nav-list>