

<footer>
    <!--Footer title-->
    <div class="footer-content">
        <h3 style="color: rgb(255, 255, 255);"><a href="home"><img class="logoFooter" src="../../../assets/Imagenes/LogoOCN3.png" alt="ImagenDeLogo"></a>
          Cipolletti</h3>
        <p>Somos una empresa textil familiar con más de 20 años de trayectoria en el mercado y nos dedicamos a la fabricación de indumentaria.

          Nuestro énfasis está puesto en brindar la mejor calidad a precios competitivos, un muy buen servicio y trato interpersonal.</p>
        
    </div>

    <!-- Footer main -->
    
    <section class="ft-main">
      
        <div class="ft-main-item">
          <h2 class="ft-title">About</h2>
          <ul>
            <li><a href="nosotros">¿Quienes somos?</a></li>
            <li><a href="contactanos">Ubicacion</a></li>

          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Ropa</h2>
          <ul>
            <li><a href="#">Buzos</a></li>
            <li><a href="#">Camperas</a></li>
            <li><a href="#">Remeras</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Contacto</h2>
          <ul>
            <li><a href="contactanos">Contactanos</a></li>
            <li><a href="https://www.facebook.com/ocn.cipolletti/?hc_ref=ARQksjQV88aUd0CnkkCTlttlzryTm4jt71IUNSwkVBpVRnnUBVIwXTFvC9yuMR896hk&ref=nf_target&__xts__[0]=68.ARDuw57FTUCFVjRxKDk32OfVEpP0OQdhbr1jW7dycGaXjmz8Ukt02mVmOir3kTdTeW23rWNvGnoL6Od8ptF2DFqapxJ4H9Xtj9Mrr_Pd6dmnQrvy5_S5zgmI2aivlklnpIuWIK3AbHx5MN2riLY0Tf5fKxg4VJ3T6PA4_kemdtaNPvwWH7qHvWGXr1RkZJDlSdIakTOHCZFlUxn47K79doROYZr4ueRu_38yF0rU5ijRDyFZaAN8EHWWn6bO3uhrZx2jYqJyBMK2wTC6-U3oVTAp-ipeE9XKKPj1Ioqdd-JUW-_79Z9bsxeVQl6ZMWdvDqa7J4S7ZvlF749xhk7YYreZ16KZAQSdjNY-js83CQlnHa7BLFSYqzJWURxs2dmAlrSquwZLKQ">Facebook</a></li>
            <li>(0220) 485-7569</li>
          </ul>
        </div>
    </section>
     <!-- Footer social -->
     <section class="ft-social">
      <a href="https://www.flaticon.es/iconos-gratis/youtube" title="youtube iconos">Youtube iconos creados por Freepik - Flaticon</a>
        <ul class="ft-social-list">
          <li><a href="https://www.facebook.com/ocn.cipolletti/?hc_ref=ARQksjQV88aUd0CnkkCTlttlzryTm4jt71IUNSwkVBpVRnnUBVIwXTFvC9yuMR896hk&ref=nf_target&__xts__[0]=68.ARDuw57FTUCFVjRxKDk32OfVEpP0OQdhbr1jW7dycGaXjmz8Ukt02mVmOir3kTdTeW23rWNvGnoL6Od8ptF2DFqapxJ4H9Xtj9Mrr_Pd6dmnQrvy5_S5zgmI2aivlklnpIuWIK3AbHx5MN2riLY0Tf5fKxg4VJ3T6PA4_kemdtaNPvwWH7qHvWGXr1RkZJDlSdIakTOHCZFlUxn47K79doROYZr4ueRu_38yF0rU5ijRDyFZaAN8EHWWn6bO3uhrZx2jYqJyBMK2wTC6-U3oVTAp-ipeE9XKKPj1Ioqdd-JUW-_79Z9bsxeVQl6ZMWdvDqa7J4S7ZvlF749xhk7YYreZ16KZAQSdjNY-js83CQlnHa7BLFSYqzJWURxs2dmAlrSquwZLKQ" target="_blank"><img class="footerIcons" src="../../../assets/Imagenes/facebook.png" alt="facebookIcon"></a></li>
          <li><a href="https://www.instagram.com/ocn.cipolletti/?hl=en" target="_blank"><img class="footerIcons" src="../../../assets/Imagenes/instagram.png" alt="InstagramIcon"></a></li>
          <li><a href="https://www.youtube.com/user/OCNSKATEBOARD" target="_blank"><img class="footerIcons" src="../../../assets/Imagenes/youtube.png" alt="YouTubeIcon"></a></li>
        </ul>
      </section>

      

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
          <li>&copy; 2022 Copyright OCN.</li>
        </ul>
    </section>

</footer>