<footer>
    <!--Footer title-->
    <div class="footer-content">
        <h3>OCN Cipolletti</h3>
        <p>somos una empresa muy importante de desarrollo</p>
        
    </div>

    <!-- Footer main -->
    <section class="ft-main">
        <div class="ft-main-item">
          <h2 class="ft-title">About</h2>
          <ul>
            <li><a href="#">¿Quienes somos?</a></li>
            <li><a href="#">Ubicaciones</a></li>

          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Ropa</h2>
          <ul>
            <li><a href="#">Busos</a></li>
            <li><a href="#">Camperas</a></li>
            <li><a href="#">Remeras</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Contacto</h2>
          <ul>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Whatsapp</a></li>
          </ul>
        </div>
    </section>
     <!-- Footer social -->
     <section class="ft-social">
        <ul class="ft-social-list">
          <li><i class='fab fa-facebook' style='font-size:24px'></i></li>
          <li><a href="#"><i class='fab fa-facebook'></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </section>

      

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
          <li>&copy; 2022 Copyright OCN.</li>
        </ul>
    </section>

</footer>